#songsGrid {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

#songsGrid div:nth-child(2) {
  grid-row: span 2;
}

@media (max-width: 1040px) {
  #songsGrid {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  #songsGrid div:nth-child(2) {
    grid-row: 2;
  }
}

.errorEntry {
  background: rgb(var(--color-foreground));
  border-radius: 3px;
  display: block;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
}

.songEntry {
  position: relative;
  background: rgb(var(--color-foreground));
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 18px;
  position: relative;
  font-size: 1.4rem;
}

.songTitle {
  font-weight: 500;
  font-size: 1.4rem;
}

.songArtist {
  margin-top: 3px;
}

.entryShowMore {
  display: inline-block;
  cursor: pointer;
  margin-top: 9px;
}

.entryShowMore > span {
  color: rgb(var(--color-blue));
}

.entryShowMore > span::after {
  content: "Show more";
}

.songInfo {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.songEntry.expanded .songInfo {
  display: block;
  margin-top: 16px;
}

.songEntry.expanded .entryShowMore > span::after {
  content: "Show less";
}

.songComposersArrangers {
  margin-top: 3px;
}

.songComposersArrangers > span:nth-child(1) {
  font-weight: 500;
  font-size: 1.4rem;
}

.songFiles {
  margin-top: 8px;
}

.songFile {
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  padding: 4px 8px;
  margin-right: 8px;
}

.songFile:visited {
  color: #fff;
}

.songFile:hover {
  color: rgba(26, 27, 28, .6);
}

.songFile:hover:visited {
  color: rgba(26, 27, 28, .6);
}

.songSearchEngines {
  margin-top: 10px;
  display: flex;
  gap: 6px;
}

.songSearchEngineEntry {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  padding: 3px;
  outline: none;
}

.songSearchEngineEntry:hover {
  transition-duration: .15s;
  opacity: .6;
}

.songSearchEngineEntry > svg {
  fill: white;
}